@{
    ViewData["Title"] = "Home Page";
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>TexUI</title>
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
<app-master-page></app-master-page>
<script src="/TexUI/dist/TexUI/runtime.js" type="module"></script><script src="/TexUI/dist/TexUI/polyfills.js" type="module"></script><script src="/TexUI/dist/TexUI/styles.js" type="module"></script><script src="/TexUI/dist/TexUI/vendor.js" type="module"></script><script src="/TexUI/dist/TexUI/main.js" type="module"></script></body>
</html>


